__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
node_modules/
frontend/build/
frontend/dist/
backend/artifacts/**
!backend/artifacts/**/.gitkeep
backend/local_data/train/**
!backend/local_data/train/.gitkeep
.DS_Store
*.log
.idea/
.vscode/
backend/uploads/**
!backend/uploads/.gitkeep
